.layoutRoot {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.mainArea {
  flex: 1;
  overflow: hidden;
  display: flex;
  min-height: 0;
}

.sider {
  overflow: auto;
  background-color: #fafafa;
  border-right: 1px solid #f0f0f0;
}

.content {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.drawer :global(.ant-drawer-body) {
  padding: 0;
}

.drawer :global(.ant-drawer-header) {
  display: none;
}

@media (max-width: 767px) {
  .mainArea {
    flex-direction: column;
  }

  .sider {
    display: none;
  }
}
