.header {
  width: 100%;
  padding: 1% 5%; /* TODO переписать на пиксели */
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(201, 200, 200);
}


.logoText {
  font-size: 150%;
  font-weight: 500;
}
